$md-lunchtyme2: (
    50 : #e5e5e5,
    100 : #bfbfbf,
    200 : #959595,
    300 : #6a6a6a,
    400 : #4a4a4a,
    500 : #2a2a2a,
    600 : #252525,
    700 : #1f1f1f,
    800 : #191919,
    900 : #0f0f0f,
    A100 : #ee6767,
    A200 : #e93a3a,
    A400 : #f00000,
    A700 : #d60000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);