$md-lunchtyme: (
    50 : #e8fcf2,
    100 : #c7f8df,
    200 : #a1f4ca,
    300 : #7befb5,
    400 : #5feba5,
    500 : #43e895,
    600 : #3de58d,
    700 : #34e282,
    800 : #2cde78,
    900 : #1ed867,
    A100 : #ffffff,
    A200 : #dbffe8,
    A400 : #a8ffc8,
    A700 : #8fffb7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
